.post-page{
    padding: 10px;
}

.postTitle{
    text-align: left;
}

.author{
    display: flex;
    flex-direction: row;
    width: 90vw;
    align-items: center;
}

#avatar{
   width: 50px;
   float: left;
}

.author-text{
    margin-left: 10px;
}

#name{
    color: blue;
    margin-bottom: 0;
}

#description{
    margin-top: 5px;
}
.img-placeholder{
    width: 100%;
}

.social-sharing{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.comment{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.username{
    display: flex;
    flex-direction: row;
}

#submit{
    margin-top: 10px;
}