.post-page{
    padding: 10px;
}
.postTitle{
    text-align: left;
    
}

.author{
    display: flex;
    flex-direction: row;
    width: 90vw;
    align-items: center;

}
#avatar{
   width: 50px;
   float: left;
   

}

.author-text{
    margin-left: 10px;
}
#name{
    color: blue;
    margin-bottom: 0;

}
#description{
    margin-top: 5px;
}
.img-placeholder{
    width: 100%;
}

.fa{
    padding: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: white;
    border-radius: 50%;
    
}

.fa:hover{
    opacity: 0.7;
}

.fa-facebook{
    background-color: #3B5998;
}

.fa-twitter{
    background-color: #55ACEE;
}

.fa-linkedin{
    background-color: #007bb5;
}

.fa-instagram{
    background-color: #ea4c89;
}

.social-sharing{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}